.listagem {
  max-width: 200px;
}

.listagem .listagem-pokemon {
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  min-height: 70px;
}

.listagem .listagem-pokemon ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6b727a;
  font-size: 16px;
  margin-bottom: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 5px;
  transition: 0.15s ease-in-out;
}

.listagem .listagem-pokemon ul li:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.listagem .listagem-pokemon img {
  width: 25%;
  border-radius: 50%;
}

.listagem .listagem-pokemon .ativo {
  background-color: #fa6668;
}
